.meta.dev-diary.happy:before {
  content: "😃";
  font-size: 1.4em;
  background-image: none!important
}

.meta.dev-diary.meh:before {
  content: "😃";
  font-size: 1.4em;
  background-image: none!important
}

.meta.dev-diary.sad:before {
  content: "😞";
  font-size: 1.4em;
  background-image: none!important
}

